@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

html{
    font: 14px/1 Arial "Microsoft YaHei";
}

.clearfix:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    clear: both;
}
